<%- include('master', 
  {
    title : title,
    body : `
    <h1>Selamat Datang di Website Pariwisata Bali</h1>
    <p>Ini adalah halaman Website Official Pariwisata Bali. 
      Anda dapat memesan paket wisata pada Website ini. Selamat menikmati 
      keindahan wisata Bali.</p>
    `
  })

%>